{% load static %}
{% block content %}
<div style="width: 100%; background-color: #87cefa;">
    <header class="container">
        <nav class="navbar navbar-expand-md navbar-light">
            <div class="container">
                <a class="navbar-brand" style="color: black; font-weight: 800;" href="#">RFID</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                    aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse"></div>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" style="color: black; font-weight: 800;" href="#"><u>ATTENDANCE</u></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: black; font-weight: 800;" href="#"><u>STUDENTS</u></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" style="color: black; font-weight: 800;" href="#"><u>ADD
                                    STUDENT-ID</u></a>
                        </li>
                    </ul>
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-sign-out-alt" style="color: black;"></i></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#"><i class="fas fa-edit" style="color: black;"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</div>
{% endblock %}