{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Faculty-Login</title>
  <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}" type="text/css">
  <script src="{% static 'js/jquery.min.css' %}" type="text/js"></script>
  <script src="{% static 'js/popper.min.css' %}" type="text/js"></script>
  <script src="{% static 'js/bootstrap.min.css' %}" type="text/js"></script>
</head>

<body>
  <div class="container">
    <h2 align="center">Faculty Registration</h2>
    <form action="{% url 'facreg' %}" method="POST" enctype="multipart/form-data">{% csrf_token %}
      <div class="form-group">
        <label for="fname">Firstname:</label>
        <input type="text" class="form-control" id="fname" placeholder="Enter firstname" name="fname">
      </div>
      <div class="form-group">
        <label for="lname">Lastname:</label>
        <input type="text" class="form-control" id="lname" placeholder="Enter lastname" name="lname">
      </div>
      <div class="form-group">
        <label for="gender">Gender:</label>
        <select name="gender" class="browser-default custom-select">
          <option selected>Select Gender</option>
          <option>Male</option>
          <option>Female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email" name="email">
      </div>
      <div class="form-group">
        <label for="pwd">Password:</label>
        <input type="password" class="form-control" id="pwd" placeholder="Enter password" name="passwd">
      </div>
      <div class="form-group">
        <label for="profile">Profile Picture:</label>
        <input class="form-control" style="padding-bottom: 35px;" name="profilepic" type="file" />
      </div>
      <p>Already Have an account? <a href="{% url 'facultylogin' %}">Click Here</a></p>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

</html>